{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
<style>
  .swatch-wrapper {
  display: flex;
  }
</style>
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- assign option_name = option.name | downcase -%}
    
      {%- if option_name contains 'stone' or option_name contains 'metal' -%}
        {% assign picker_type = 'swatch' %}
      {%- else -%}
        {% assign picker_type = 'dropdown' %}
      {%- endif -%}
    
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options', product: product, option: option, block: block, picker_type: picker_type %}
            </select>
            <span class="svg-wrapper">
              {% render 'icon-caret' %}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
    
    {%- if product.tags contains 'engraving' -%}
      <div class="product-form__input product-form__input--engraving">
        <label for="engraving-input" class="form__label">
          Custom Engraving (Max 20 characters):
        </label>
        <input type="text" id="engraving-input" name="properties[Engraving]" maxlength="20" class="engraving__input" placeholder="Enter your engraving here" />
      </div>
    {%- endif -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
