{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type
        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' and option.name contains "Stone" -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>{{- option.selected_value -}}</span>
          </legend>
          {% for value in option.values %}
            {% if value.variant.metafields.custom.stone_swatch.value %}
            <input
              type="radio"
              id="Option-{{ input_id }}-{{ forloop.index0 }}"
              name="options[{{ option.name | escape }}]"
              value="{{ value | escape }}"
              class="swatch-input__input"
              data-option-swatch-value="{{ value.variant.metafields.custom.stone_swatch.value }}"
              {% if value.selected %} checked {% endif %}
              {% if value.disabled %} disabled {% endif %}
            >
            <label
              for="Option-{{ option.position }}-{{ forloop.index0 }}"
              class="swatch-input__label"
            >
              <img src="{{ value.variant.metafields.custom.stone_swatch.value | prepend: 'https://starlingjewelry.com/cdn/shop/' }}" alt="{{ value }}" class="swatch-input__image">
            </label>
            {% else %}
            {% render 'product-variant-options', product: product, option: option, optionIndex: forloop.index0 %}
          {% endif %}
          {% endfor %}
        </fieldset>
      {%- else -%}
      <div class="product-form__input product-form__input--dropdown">
        <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
          {{ option.name }}
        </label>
        <div class="select">
          <select
            id="Option-{{ section.id }}-{{ forloop.index0 }}"
            class="select__select"
            name="options[{{ option.name | escape }}]"
            form="{{ product_form_id }}"
            {% if product.variants.size > 50 %} data-async {% endif %}
            {% if product.variants.size > 100 %}
              data-async="{{ 'true' }}"
              data-variants-url="{{ routes.products_variant_json_url }}"
            {% endif %}
          >
            {% for value in option.values %}
              <option
                id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                value="{{ value | escape }}"
                data-option-swatch-value="{{ value.variant.metafields.custom.stone_swatch.value }}"
                {% if value.selected %} selected {% endif %}
                {% if value.disabled %} disabled {% endif %}
              >
                {{ value }}
              </option>
            {% endfor %}
          </select>
          {% render 'icon-caret' %}
        </div>
      </div>      
      {%- endif -%}
    {%- endfor -%}
    <script type="application/json" data-selected-variant>
      {
        "product": {
          "variants": [
            {% for variant in product.variants %}
              {
                "id": "{{ variant.id }}",
                "options": [
                  "{{ variant.option1 }}",
                  "{{ variant.option2 }}",
                  "{{ variant.option3 }}"
                ]
              }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ]
        }
      }
    </script>
    {% if product.variants.size > 100 %}
      <script>
        // Implement async loading of variants here
        fetchVariantsAsync('{{ routes.products_variant_json_url }}');
      </script>
    {% endif %}
  </variant-selects>
{%- endunless -%}
