{% comment %}
  Renders a swatch input component.
  Accepts:
  - id: {String} unique input id
  - type: {String} input type. Accepts 'radio' or 'checkbox', defaults to 'radio' (optional)
  - name: {String} input name,
  - value: {ProductOptionValueDrop} input value
  - swatch: {SwatchDrop} the swatch drop
  - product_form_id: {String} id of the form associted with the input
  - checked: {Boolean} default checked status
  - disabled: {Boolean} default disabled status (optional)
  - visually_disabled: {Boolean} style the swatch as disabled, but leave the input enabled (optional)
  - shape: {String} swatch shape. Accepts 'square', defaults to circle (optional)
  - help_text: {String} additional content to render inside the label (optional)
  - additional_props: {String} (optional) additional properties to attach to the input

  Usage:
   {% render 'swatch-input',
      id: input_id,
      name: input_name,
      value: input_value,
      swatch: swatch,
      product_form_id: product_form_id,
      checked: checked
    %}
{% endcomment %}

{%- assign option_name = name | downcase -%}

{%- if option_name contains 'metal' -%}
  {%- assign swatch_image_url = '' -%}
  
  {%- case value -%}
    {%- when '14k Yellow Gold' -%}
      {%- assign swatch_image_url = 'https://cdn.shopify.com/s/files/1/0021/7474/6681/files/metal-14k-yellow-gold.jpg?v=1652809319' -%}
      {%- when '18k Yellow Gold' -%}
        {%- assign swatch_image_url = 'https://cdn.shopify.com/s/files/1/0021/7474/6681/files/metal-18k-yellow-gold.jpg?v=1665618385' -%}
    {%- when '14k White Gold' -%}
      {%- assign swatch_image_url = 'https://cdn.shopify.com/s/files/1/0021/7474/6681/files/metal-14k-white-gold.jpg?v=1652809319' -%}
    {%- when '14k Rose Gold' -%}
      {%- assign swatch_image_url = 'https://cdn.shopify.com/s/files/1/0021/7474/6681/files/metal-14k-rose-gold.jpg?v=1652809319' -%}
    {%- else -%}
      {%- assign swatch_image_url = 'default-metal-swatch.jpg' -%}
  {%- endcase -%}

  <input
    type="{{ type | default: 'radio' }}"
    id="{{ id }}"
    name="{{ name }}"
    value="{{ value }}"
    form="{{ product_form_id }}"
    class="swatch-input__input{% if visually_disabled %} visually-disabled{% endif %}"
    {% if checked %}
      checked
    {% endif %}
    {% if disabled %}
      disabled
    {% endif %}
    {% if additional_props %}
      {{ additional_props }}
    {% endif %}
  >
  <label
    for="{{ id }}"
    title="{{ value }}"
    class="swatch-input__label{% if shape == 'square' %} swatch-input__label--square{% endif %}"
  >
    <span
      class="swatch{% if shape == 'square' %} swatch--square{% endif %}"
      style="--swatch--background: url('{{ swatch_image_url }}');"
    ></span>
    {{ help_text }}
  </label>

{%- else -%}
  <input
    type="{{ type | default: 'radio' }}"
    id="{{ id }}"
    name="{{ name }}"
    value="{{ value }}"
    form="{{ product_form_id }}"
    class="swatch-input__input{% if visually_disabled %} visually-disabled{% endif %}"
    {% if checked %}
      checked
    {% endif %}
    {% if disabled %}
      disabled
    {% endif %}
    {% if additional_props %}
      {{ additional_props }}
    {% endif %}
  >
  <label
    for="{{ id }}"
    title="{{ value }}"
    class="swatch-input__label{% if shape == 'square' %} swatch-input__label--square{% endif %}"
  >
    {% render 'swatch', swatch: swatch, shape: shape %}
    {{ help_text }}
  </label>
{%- endif -%}