{%- liquid
  assign swatch_value = null
  assign swatch_focal_point = null

  if swatch_tag 
    assign swatch = swatch_tag | prepend: 'stone-' | append: '.' | append: 'jpg'
  elsif swatch.color
    assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
  endif
-%}

<input
  type="radio"
  id="Option-{{ option.position }}-{{ forloop.index0 }}"
  name="options[{{ option.name | escape }}]"
  value="{{ value | escape }}"
  class="swatch"
  data-option-swatch-value="{{ swatch }}"
  {% if value.selected %} checked {% endif %}
  {% if value.disabled %} disabled {% endif %}
>
<label
  for="Option-{{ option.position }}-{{ forloop.index0 }}"
  class="swatch-input__label"
>
  <img src="{{ swatch | file_url }}" alt="{{ value }}" class="swatch-input__image">
</label>